{% extends "base.html.twig" %}

{% block title %}   Password    {% endblock %}

{% block body %}

    <div class="row">
        <h1 class="col-8 offset-2 mt-5 text-center">Changer le mot de passe</h1>
    </div>

    <form class="col-4 offset-4" method="post" id="passwordForm">

        <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="Nouveau mot de passe" autocomplete="off">
        <div class="row">
            <div class="col-sm-6">
                <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 
                 8 caractères de long<br>
                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Une lettre majuscule
            </div>

            <div class="col-sm-6">
                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Une lettre minuscule<br>
                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Un nombre
            </div>
        </div>

        <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Répéter mot de passe" autocomplete="off">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 
                Correspondance des mots de passe
            </div>
        </div>

        <div class="col-xs-12 text-center">
            <input type="submit" class="btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Changer">
        </div>

    </form>

{% endblock %}