{% extends "base.html.twig" %}

{% block title %}Hakai Kousen{% endblock %}
{% block stylesheets %}{% endblock  %}

{% block body %}
    <div class="row">

        <h1 class="col-8 offset-2 mt-5 text-center">Hakai Kousen</h1>

    </div>

    <div class="row">
        <div class="col-6 offset-3 text-center">
            Une révolution pour les jeux de rôles le système Hakai Kousen.
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3 text-center">
            <img class="img-fluid" src="{{asset ('images/biglogo.png')}}" alt="">
        </div>
    </div>  
{% endblock %}
