{% extends "base.html.twig" %}

{% block title %}Pokédex{% endblock %}

{% block body %}
    <div class="row">

        <h1 class="col-8 offset-2 mt-5 text-center">Pokédex</h1>

    </div>

    <div class="row">
        <div class="col-6 offset-3 my-4">
          A ne pas faire pour le moment
        </div>
    </div>

  
{% endblock %}