{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="row">

    <h1 class="col-8 offset-2 mt-5 text-center">Profil</h1>

</div>

<div class="row flex-lg-nowrap">

    <div class="col mb-3">
        <div class="card">
            <div class="card-body">
                <div class="e-profile">

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="mx-auto" style="width: 140px;">
                                <div class="d-flex justify-content-center align-items-center rounded"
                                    style="height: 140px; background-color: rgb(233, 236, 239);">
                                    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                </div>
                            </div>
                        </div>

                        <div class="col justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                <h4 class="pt-sm-2 pb-1 mb-0 text-center">Pierre Durand</h4>
                                <p class="mb-0 text-center">@pierre.d</p>
                                <div class="text-muted"><small></small></div>
                                <div class="mt-2 text-center">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-fw fa-camera"></i>
                                        <span>Changer photo</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}