{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="row">

        <h1 class="col-8 offset-2 mt-5 text-center">Profil</h1>

    </div>

    <div class="row">
        <div class="col-6 offset-3 my-4">
            Pseudonyme:
            <br>
            Email:
            <br>
            Quelque mot:
        </div>
    </div>

  
{% endblock %}