#main-navbar .nav-item.active>h4>.nav-link{
    color: #ffffff;
}
#tel{
    color: rgb(51, 41, 41);
}
td{
    text-align: center;
}
table, th, td {
    border: 2px solid black;
  } 
.table1{
    background-color: rgb(196, 193, 193);
}
.table2{
    font-weight: bold;
}