body>.background{
    border-width: 0px 50px 0px 50px;
    border-style: solid;
    border-color: #dc3545;
}
#main-navbar .nav-item.active>h4>.nav-link{
    color: #ffffff;
}
.social-links_footer{
    display: flex;/*activation flexbox*/
    flex-direction: row;
    text-rendering: auto;
    padding: 5px;
    margin: 3px;
}
.fab{
    font-size: 25px;
}
.fa-discord{
    padding-left: 10px;
}
.fa-twitter{
    padding-left: 10px;
}
h5{
    color: #ffffff;
}
.tel{
    color: rgb(51, 41, 41);
}
td{
    text-align: center;
}
table, th, td {
    border: 2px solid black;
  } 
.table1{
    background-color: rgb(196, 193, 193);
}
.table2{
    font-weight: bold;
}
div #list_de_trucs{
	margin:10px auto;
	width:100%;
	min-width:400px;
	max-width:700px;
}
div #list_de_trucs table{
	margin:0px;
    width:100%;
}