#main-navbar .nav-item>.nav-link{
    font-size: 1.5rem;
}

#main-navbar .nav-link.active{
    color: blue;
}

.lbande, .rbande{
    background-color: #DC3545;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: -1;
}

.lbande{
    left: 0;
}

.rbande{
    right: 0;
}

.container-fluid{
    padding: 0 70px;
}

a.facebook{
    color: #3B5998;
}
a.discord{
    color: #7289DA;
}
a.twitter{
    color: #00ACEE;
}