{% extends "base.html.twig" %}

{% block title %}Introuvable - 404{% endblock %}

{% block body %}

<div class="row_404">

   <div class="col-8 offset-2 my-5">
         <div class="col-8 offset-2 text-center">
            <h1>Erreur 404 la page web n'a pas été trouvée, veuillez cliquer sur le bouton d'accueil !</h1>
         </div>
         <button class="col-8 offset-2 text-center btn btn-danger" type="button">Accueil</button>
   </div>
</div>
{% endblock %}