{% extends "base.html.twig" %}

{% block title %} Forum {% endblock %}

{% block body %}
    <div class="row">

        <h1 class="col-8 offset-2 mt-5 text-center"> Forum </h1>

    </div>

    <div class="row">
        <div class="col-6 offset-3 my-4">
            <p> {{ form( form ) }} </p>
        </div>
    </div>
{% endblock %}