{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="row">

    <h1 class="h2 col-8 offset-2 mt-5 text-center">Forum</h1>

</div>


<div class="row my-4">
    <div class="col-12 col-md-10 offset-md-1">

        {% for forum in forums %}

        <div class="subject row p-3 my-3 border border-danger rounded">
            <div class="mb-3 mb-lg-0 col subject-title"><a href="{{path('subjetForumPage', {slug: forum.slug })}}"              {# Redirection avec les slug #}
                    class="text-light text-dark"><i class="far fa-folder-open fa-size mr-2"></i>
                    {{ forum.title }}</a>
            </div>

            <div class="mb-3 mb-lg-0 col">
                <i class="fab fa-fort-awesome fa-size mr-2"> {{ forum.description }}</i>
            </div>
        </div>

    {% endfor %}

    </div>
</div>

{% endblock %}