{% extends "base.html.twig" %}

{% block title %} Sujet {% endblock %}

{% block body %}
<div class="row">

    <h1 class="h2 col-8 offset-2 mt-5 text-center"> Sujet de vue </h1>

</div>

<div class="row">
    {% for subject in forum.subjects %}
    <div class="col-5 offset-3 text-center my-8">
        <p class="bg-danger text-light text-left p-3">
            <a href="{{path('MessageSubject', {id: subject.id })}}" class="bg-danger text-light"> {{ subject.title }}</a>
            <br>
        </p>
    </div>
    <div>
        <p class="text-danger text-right text-center my-8">
            Par {{ subject.author.pseudonyme }} 
            <br>
            le {{ subject.publicationDate|date("m/d/Y") }}
        </p>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}