{% extends 'base.html.twig' %}

    {% block title %} Sujet {% endblock %}

    {% block body %}

    <h1 class="col-6 offset-3 text-center">Crée un article !</h1>
    <div class="col-6 offset-3 text-center">
        {{ form(form) }}

    </div>
{% endblock %}